# Database Configuration
SPRING_DATASOURCE_URL=jdbc:postgresql://<HOST>:5432/<DB_NAME>
SPRING_DATASOURCE_USERNAME=<USERNAME>
SPRING_DATASOURCE_PASSWORD=<PASSWORD>

# JWT Security Configuration
JWT_SECRET=<YOUR_32_BYTE_MIN_SECRET_KEY>
JWT_EXPIRATION_MS=86400000
JWT_REFRESH_EXPIRATION_MS=604800000

# Server Port
PORT=8080
